@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Inter:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-body;
}

h1,
h2,
h3 {
  @apply font-display;
}
@keyframes l2 {
  to { transform: rotate(1turn); }
}
@keyframes l2-reverse {
  to { transform: rotate(-1turn); }
}
.animate-l2 {
  animation: l2 1s linear infinite;
}
.animate-l2-reverse {
  animation: l2-reverse 1s linear infinite;
}
